.hover:hover {
  transform: scale(1.1);
}

.transition {
  transition: all .3s
}

.sticky {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 1s;
  animation: sticky 1s forwards;
}

@keyframes sticky {
  from {
    top: -20%;
  }

  to {
    top: 0;
  }
}